.wum__selection-container_movie-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.playChange, .replayChange {
    color: var(--color-text);
    cursor: pointer;
    height: 50px;
    width: auto;
    
    margin: 0 1rem 0 1rem;
}

.playChange:hover, .replayChange:hover {
    color: var(--color-subtext);
}

.wum__selection-container_movie {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: var(--color-sections);
    
}

.wum__selection-container_movie-title {
    display: flex;
    flex-direction: column;

    padding: 1rem 1.5rem;
}

.wum__selection-container_movie-title h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    color: var(--color-text);
}

.wum__selection-container_movie-progress {
    font-family: var(--font-family);
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .wum__selection-container_title h3 {
        font-size: 18px;
        line-height: 25px;
    }
}