@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Style Referenzen */
:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-color: linear-gradient(165deg, #FF6811 8%, #FF2CDC 86%);
  
  --color-bg: #012622;
  --color-sections : #003B36;
  --color-alt: #59114D;
  --color-text: #ECE5F0;
  --color-subtext: #FF6811;
  --color-altsubtext: #FF2CDC;
}