.wum__playercontainer h1 {
    font-family: var(--font-family);
    color: var(--color-text);
}

.wum__playercontainer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 0;
}

.wum__playercontainer-button h3 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    background: var(--color-subtext);
    color: var(--color-text);
    font-family: var(--font-family);
    cursor: pointer;

    padding: 1rem 2rem;
}

.wum__playercontainer-button h3:first-child {
    max-width: 500px;
}

.wum__playercontainer-button h3:last-child {
    max-width: 500px;
}

@media screen and (max-width: 1250px){
    .wum__playercontainer-button h3:first-child {
        max-width: 350px;
    }
    
    .wum__playercontainer-button h3:last-child {
        max-width: 350px;
    }
}

@media screen and (max-width: 990px){
    .wum__playercontainer-button h3:first-child {
        max-width: 250px;
    }
    
    .wum__playercontainer-button h3:last-child {
        max-width: 250px;
    }
}

@media screen and (max-width: 990px){
    .wum__playercontainer-button {
        flex-direction: column;
    }

    .wum__playercontainer-button h3:first-child {
        margin-bottom: 2rem;
    }
}